In [44]:
import pandas as pd
import requests
import hvplot.pandas
import json
from scipy.stats import linregress
from matplotlib import pyplot as plt
from config import eia_api_key
from config import openweather_api_key

elec_key = eia_api_key
weather_key = openweather_api_key

In [86]:
elec_url = "https://api.eia.gov/v2/electricity/retail-sales/data/?frequency=monthly&data[0]=price&facets[sectorid][]=ALL&facets[sectorid][]=COM&facets[sectorid][]=IND&facets[sectorid][]=OTH&facets[sectorid][]=RES&facets[sectorid][]=TRA&facets[stateid][]=US&start=2001-01&end=2022-10&offset=0&length=5000"

params = {"api_key": elec_key}

time_cost = requests.get(elec_url, params = params).json()

pd.DataFrame(time_cost["response"]["data"])

,period,stateid,stateDescription,sectorid,sectorName,price,price-units
0,2013-11,US,U.S. Total,ALL,all sectors,9.79,cents per kilowatthour
1,2013-11,US,U.S. Total,COM,commercial,10.03,cents per kilowatthour
2,2013-11,US,U.S. Total,IND,industrial,6.65,cents per kilowatthour
3,2013-11,US,U.S. Total,OTH,other,NaN,cents per kilowatthour
4,2013-11,US,U.S. Total,RES,residential,12.10,cents per kilowatthour
...,...,...,...,...,...,...,...
1567,2008-04,US,U.S. Total,OTH,other,NaN,cents per kilowatthour
1568,2008-04,US,U.S. Total,RES,residential,10.93,cents per kilowatthour
1569,2008-12,US,U.S. Total,IND,industrial,6.79,cents per kilowatthour
1570,2008-12,US,U.S. Total,OTH,other,NaN,cents per kilowatthour
1571,2008-05,US,U.S. Total,ALL,all sectors,9.47,cents per kilowatthour