In [ ]:
# Dependencies
import requests
import json
import pandas as pd
import pprint
from config import eia_api_key_hugh

This API request is to the EIA and is for Utility Scale Electric Net Generation in all 50 US states and the country as a whole in 2021 

The explanation of this dataset is here: https://docs.google.com/document/d/1Z_D4dOF02FdVmX_xDbjvxxdylhZ1SOY-0h01W5rSghg/edit#

In [ ]:
#Designate base url
base_url = "https://api.eia.gov/v2/electricity/electric-power-operational-data/data/"

In [ ]:
#Note the parameter syntax, including placement of quotes, colons and commas
#The final comma, in the length row, is intentional in order to accomodate
#additional parameters in the future.
#The first parameter is my personal API key for EIA's API.

parameters = {
    "api_key": eia_api_key_hugh,
    "frequency": "annual",
    "data[0]": "generation",
    "facets[location][]": [
    "AK",
    "AL",
    "AR",
    "AZ",
    "CA",
    "CO",
    "CT",
    "DE",
    "FL",
    "GA",
    "HI",
    "IA",
    "ID",
    "IL",
    "IN",
    "KS",
    "KY",
    "LA",
    "MA",
    "MD",
    "ME",
    "MI",
    "MN",
    "MO",
    "MS",
    "MT",
    "NC",
    "ND",
    "NE",
    "NH",
    "NJ",
    "NM",
    "NV",
    "NY",
    "OH",
    "OK",
    "OR",
    "PA",
    "RI",
    "SC",
    "SD",
    "TN",
    "TX",
    "US",
    "UT",
    "VA",
    "VT",
    "WA",
    "WI",
    "WV",
    "WY",
    ],
    "facets[sectorid][]": ["99"],
    "facets[fueltypeid][]": ["ALL"],
    "start": "2021",
    "end": "2021",
    "sort[0][column]": "period",
    "sort[0][direction]": "asc",
    "offset": "0",
    "length": "5000",
}

In [ ]:
# Performing a GET Request and saving the 
# API's response within a variable.
#params is one of the parameters in the response.get method and refers
#to the API parameters, although params is itself a parameter for the response.get method.

response = requests.get(base_url, params = parameters)
response_json = response.json()

In [ ]:
#I am 'pretty printing' the result with the indent and sort_keys options
#print(json.dumps(response_json, indent=4, sort_keys=True))

In [ ]:
#new pprint
#pprint.pprint(response.content.decode())

In [11]:
#Now I will take the json object (response_json) and push it into a new Pandas
#dataframe
response_dataframe = pd.DataFrame(response_json["response"]["data"])
response_dataframe.head()

,period,location,stateDescription,sectorid,sectorDescription,fueltypeid,fuelTypeDescription,generation,generation-units
0,2021,TN,Tennessee,99,All Sectors,ALL,all fuels,79057.20942,thousand megawatthours
1,2021,MN,Minnesota,99,All Sectors,ALL,all fuels,59195.76872,thousand megawatthours
2,2021,OK,Oklahoma,99,All Sectors,ALL,all fuels,80754.58606,thousand megawatthours
3,2021,RI,Rhode Island,99,All Sectors,ALL,all fuels,9322.45120,thousand megawatthours
4,2021,NM,New Mexico,99,All Sectors,ALL,all fuels,35192.36528,thousand megawatthours

In [12]:
#Export dataframe to .csv
response_dataframe.to_csv('net_gen_by_state_2021.csv')